In [1]:
import pandas as pd

In [3]:
from statistical_simulation_tools import DistributionFitter

In [2]:

data = {
    'id': [1, 1, 1, 2, 2, 3, 3],
    'date': ['2023-01-01', '2023-01-03', '2023-01-02', '2023-01-04', '2023-01-01', '2023-01-02', '2023-01-01'],
}
df = pd.DataFrame(data)

# Convert the 'date' column to datetime format
df['date'] = pd.to_datetime(df['date'])

In [6]:
df['row_number'] = df.groupby('id')['date'].rank(method='first', ascending = False).astype(int)

In [7]:
df

   id       date  row_number
0   1 2023-01-01           3
1   1 2023-01-03           1
2   1 2023-01-02           2
3   2 2023-01-04           1
4   2 2023-01-01           2
5   3 2023-01-02           1
6   3 2023-01-01           2

In [8]:
df[df['row_number'] == 1]

   id       date  row_number
1   1 2023-01-03           1
3   2 2023-01-04           1
5   3 2023-01-02           1